// ----- //
// About //
// ----- // 


.about__container {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 20px;
    scroll-snap-align: start;
    background-color: $background-color;
    border-left: 3px solid $primary-color;
    
    @include respond-to(md) {
    width: calc(100% - 150px);
    margin-left: 160px;
    border-left: none;
    
    }

    .about__content {
        width: calc(100% - 50px);
        height: 100%;
        position: relative;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: $base-font-family;
        color: $text-color;

        .about__image {
            position: relative;
            width: 100%;
            top: 20px;
        
            img {
                border-radius: 20px;
                opacity: 0.6;
            }
        }
        
     
        h1 {
            position: relative;
            top: -50px;
            left: 20px;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 1px; 
        }

        h2 {
            position: relative;
            top: -55px;
            left: 20px;
            text-transform: uppercase;
            font-size: 1.7rem;
            font-weight: 500;
            letter-spacing: .5px;
        }
   
        p {
            position: relative;
            text-align: justify;
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 20px;
            top: -30px;
        }

    } 

}

