// ----- //
// About //
// ----- // 

body {
    margin: 20px;
}
    .menu__container {

        @include respond-to(xs) {
            display: none;
        }

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(md) {
            display: block;
        }
    }

.menu__burger {
    display: block;

    @include respond-to(md) {
        display: none;
    }
}

.about__container {
    min-height: 100vh;
    width: 100%;
    margin: 20px;
    background-color: $background-color;
    border-left: 2px solid $primary-color;
    
    @include respond-to(md) {
        width: calc(100% - 150px);
        margin-left: 160px;
        border-left: none;
    }

    .about__content {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content:center; 
        width: calc(100% - 50px);
        margin: 20px;
        font-family: $base-font-family;
        color: $text-color;

        .about__image {
            position: relative;
            display: flex; 
            flex-direction: column;
            min-height: 300px;
            min-width: 80vw;
            margin-top: 50px;
            margin-bottom: 20px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
            
            @include respond-to(md) {
                margin-top: 20px;
                background-position: center;
            }
        
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('/assets/img/about-me.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                opacity: 0.8; 
                box-shadow: 5px 5px 20px 20px $background-color inset; 
                z-index: 1; 
                pointer-events: none; 
            }

            
            h1, h2 {
                position: relative; 
                z-index: 2; 
                color: $secondary-text-color; 
                text-shadow: 2px 2px lighten($text-color, 10%);
                text-transform: uppercase;
                font-weight: 500;
                margin: 0; 
                padding: 10px; 
                max-width: 75vw;
            }

            h1 {
                margin-left: 30px; 
                margin-top: 30px;               
                font-size: calc(1rem + 0.5vw); 
                font-weight: 400;
                letter-spacing: 1px; 
            }
    
            h2 {
                margin-left: 30px;
                margin-top: -20px;
                font-size: calc(1.2rem + 0.5vw); 
                font-weight: 500;
                letter-spacing: 0.5px;
                
            } 
        }

        

            .about__text {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto auto auto auto;
                gap: 0;
                height: 200px;
                margin-left: 20%;
                
                grid-template-areas: 
                "headline headline headline"
                "  box-1   box-1   .  "
                "  .   box-2   box-2 "
                "  box-3   box-3   .  "; 


            .headline {
                display: flex;
                text-align: left;   
                align-self: left;
                font-size: 2.1rem;
                font-weight: 300;
                margin-bottom: 10px;
                grid-area: headline;

                p {
                    color: $text-color;
                    font-size: 1.1rem;
                }

                span {
                    background-color: darken($background-color, 5%);
                    border-radius: 4px;
                   
                    padding: 5px;
                }
            }    

            .box-1 { 
                grid-area: box-1; 
                margin-bottom: 0;
                margin-left: 30px;
            }
            .box-2 { 
                grid-area: box-2; 
                margin-bottom: 10px;
            }
            .box-3 { 
                grid-area: box-3;
                margin-bottom: 10px;
                margin-left: 90px; 
            }
            
            .box-1, .box-2, .box-3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0;
                border-radius: 5px;
                background: transparent;
                

                span {
                    background-color: darken($background-color, 5%);
                    
                    border-radius: 4px;
                    padding: 5px;
                    
                    
                }
                  
            }

            // .box-1:hover, .box-2:hover, .box-3:hover {
            //     transform: scale(1.2);
            //     transition: transform 0.4s ease;
                
            // }
            
            .box-1 {
                margin-bottom: 7px;
                margin-left: 30px;
            }

            .box-2 {
                margin-bottom: 10px;
            }

            .box-3 {
                margin-bottom: 10px;
                margin-left: 90px;
            }
            p {
                font-size: .9rem;
                font-weight: 600;
                line-height: 1.6; 
                color: $text-color; 
            }
              

            }   
    
            }  
        }



// .about__container {
//     min-height: 100vh;
//     width: 100%;
//     margin: 20px;
//     scroll-snap-align: start;
//     background-color: $background-color;
//     border-left: 2px solid $primary-color;
    
//     @include respond-to(md) {
//     width: calc(100% - 150px);
//     margin-left: 160px;
//     border-left: none;
    
//     }

//     .about__content {
//         display: flex; 
//         flex-direction: column; 
//         align-items: center; 
//         justify-content: center; 
//         width: calc(100% - 50px);
//         margin: 20px;
        
//         font-family: $base-font-family;
//         color: $text-color;

//         .about__image {
//             position: relative;
//             display: flex; 
//             flex-direction: column;
//             min-height: 300px;
//             min-width: 80vw;
//             margin-top: 50px;
//             margin-bottom: 20px;
           
//             background-size: cover;
//             background-repeat: no-repeat;
//             background-position-x: center;
            
//             // box-shadow: 5px 5px 30px 30px $background-color inset; 
//             @include respond-to(md){
//                 margin-top: 20px;
//             }
        
//             &::before {
//                 content: '';
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: 100%;
//                 height: 100%;
//                 background-image: url('/assets/img/about-me.png');
//                 background-size: cover;
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 opacity: 0.4; 
//                 z-index: 1; 
//                 pointer-events: none; 
//             }

//             h1, h2 {
//                 display: flex;
//                 flex-shrink: 1;
//                 z-index: 2; 
//                 color: $secondary-text-color; 
//                 text-shadow: 2px 2px lighten($text-color, 10%);
//                 text-transform: uppercase;
//                 font-weight: 500;
//                 margin: 0; 
//                 padding: 10px; 
//                 max-width: 75vw;
                
//             }


//             h1 {
//                 top: 3px;
//                 left: 198px;
//                 font-size: calc(0.8rem + 0.5vw);
//                 font-weight: 400;
//                 letter-spacing: 1px; 
               
//             }
    
//             h2 {
//                 top: 20px;
//                 left: 195px;
//                 font-size: calc(1.2rem + 0.5vw);
//                 font-weight: 500;
//                 letter-spacing: .5px;
//             }  

//             .p-right {
//                 flex: 1;
//                 align-self: center;

//                 // flex-basis: 
//                 font-size: 1rem;
//                 padding-right: 10px;
                
//             }
//         }
        
//         p {
//             max-width: 75vw;
//             text-align: justify;
//             font-size: 1.2rem;
//             font-weight: 400;
//             margin-bottom: 20px;  
//         }
      
   
     

//     } 

// }

