// ------------- //
// Code Examples //
// ------------- // 

.examples__container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 20px 0 20px;
    scroll-snap-align: start;
    font-family: $base-font-family;
    background-color: $background-color;
    color: $text-color;
    border-left: 3px solid $primary-color;
    padding-bottom: 20px;
    
    @include respond-to(md) {
    width: calc(100% - 150px);
    margin-left: 160px;
    border-left: none;
    
    }


    .examples__header {
        margin-top: 50px;
        padding-left: 20px;
        
        h1 {
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 5px;
            padding-left: 30px;  
            
        }

    }

    .examples__image {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 40px;
        align-items: center;

        img{
        position: absolute;
        top: 33vh;
        max-width: 80%;
        height: 300px;
        object-fit: cover;
        opacity: 0.8;
        border-radius: 60px;
        }
    }

    .examples__content {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: calc(100% - 50px);
        padding-left: 20px;

    }
}