// ------ //
// Mixins //
// ------ //

   
// Breakpoint //

@mixin respond-to($breakpoint) {
  @each $breakpoint in $breakpoint {
      @if $breakpoint == xs {
        @media (max-width: $breakpoint-xs)  {
          @content;
        }
      } @else if $breakpoint == sm {
        @media (max-width: $breakpoint-md) {
          @content;
        }
      } @else if $breakpoint == md {
        @media (min-width: $breakpoint-md) {
          @content;
        }
      } @else if $breakpoint == lg {
        @media (min-width: $breakpoint-lg){
          @content;
        }
      } @else if $breakpoint == xl {
        @media (min-width: $breakpoint-xl) {
          @content;
        }
      }
  }
}


  // Project Card //

  @mixin project-card-xs($img-url, $bg-position-x: center, $bg-position-y: center) {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none; 
    
    max-width: 500px;
    background-color: transparent;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    background-image: url(#{$img-url});
    background-size: cover;
    background-position: #{$bg-position-x} #{$bg-position-y};
    background-repeat: no-repeat;
    aspect-ratio: 1;
    opacity: 0.7;

    &:hover {
        transform: translateY(-5px); 
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);  
        opacity: 0.9;
    }

    span {
      justify-content: center;
      align-self: center;
      font-family: $base-font-family;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.2rem;
      letter-spacing: 0.1px;
      color: $secondary-text-color;
      background-color: $background-color-comp-dark;
      padding: 5px;
      border-radius: 4px;
      opacity: 0.9;
   
    }
}

  @mixin project-card($img-url, $bg-position-x: center, $bg-position-y: center) {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none; 
    
    min-height: 300px;
    min-width: 200px;
    margin-right: 10px;
    background-color: transparent;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    background-image: url(#{$img-url});
    background-size: cover;
    background-position: #{$bg-position-x} #{$bg-position-y};
    background-repeat: no-repeat;
    opacity: 0.7;

    &:hover {
        transform: translateY(-5px); 
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);  
        opacity: 0.9;
    }

    span {
      justify-content: center;
      align-self: center;
      font-family: $base-font-family;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.2rem;
      letter-spacing: 0.1px;
      color: $secondary-text-color;
      background-color: $background-color-comp-dark;
      padding: 5px;
      border-radius: 4px;
      opacity: 0.9;
   
    }
}

// Form Input Styling //
 
@mixin form-style() {
  width: 100%;
  padding: 10px;
  border: 2px solid $primary-color;
  border-radius: 3px;
  resize: none;
  box-sizing: border-box;
  font-size: 0.8em;
  font-family: $base-font-family;
  color: $primary-color;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: text;
  caret-color: $primary-color;
  

  &::placeholder {
      color: lighten($primary-color, 10%);
      font-family: $base-font-family;
      letter-spacing: 1px;
}

  &:focus {
  border-color: lighten($primary-color, 10%);
      outline: none;
  }

  &:hover {
    cursor: text;
    caret-color: $primary-color;
  }
}
