// -------------- //
// Footer License //
// -------------- //

.footer__licence {
    position: relative;
    bottom: -20px;
    width: 100vw;
    height: 20px;
    overflow: hidden;
    padding: 2px;  
    font-family: $base-font-family;
    font-size: 0.8rem;
    color: $text-color;
    background-color: $footer-bg-color;
    
    z-index: 1000;
}

footer {
    bottom: -20px;
    font-size: 0.7rem;
}
