// -------------- //
// Footer License //
// -------------- //

#footer__licence {
    position: relative;
    bottom: 2px;
    height: 20px;
    width: 100%;
    margin: 0;
    font-family: $base-font-family;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px;
    color: $text-color;
    background-color: $primary-color;
    justify-content: center;
    align-content: center;
    z-index: 100;
}