// ----------- //
// Burger Menu //
// ----------- //


/*Visible at <768px viewport*/ 

 .menu__burger {
    
    /*Top Right Positioning*/
    position: fixed;
    top: 20px;
    left: calc(100% - 80px);
    z-index: 10;
    
    margin-top: 0;
    font-size: 3rem;
    line-height: 0;
    color: $primary-color;
    text-shadow: 3px 3px darken($primary-color, 20%);
    cursor: pointer;

    /*Hover Effect*/
    &:hover {
        color: darken($primary-color, 20%);
        text-shadow: 3px 3px $primary-color;
    }

    /*Hide at 768px*/
    @include respond-to(md) {
        display: none;
    }
 }