// --------- //
// Side Menu //
// --------- //

nav {
    display: flex;
}

.sidebar__burger {
    display: block;
    @include center-absolute(35px, calc(100% - 55px));
    z-index: 10;
    font-size: 3rem;
    color: $primary-color;
    text-shadow: 3px 3px darken($primary-color, 20%);
    cursor: pointer;

    &:hover {
        color: darken($primary-color, 20%);
        text-shadow: 3px 3px $primary-color;
    }

    @include respond-to(md) {
        display: none;
    }
}


.sidebar__container {
    display: none;

    @include respond-to(md) {
        position: absolute;  
        top: 0;           
        left: 0;          
        width: 150px;    
        height: 100vh; 
        font-family: $base-font-family; 
        border-right: 3px solid $primary-color;  
        background-color: $background-color; 
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1000;

        .sidebar__logo { 
            margin: 0 auto;
            border: 1px solid $text-color;
            border-radius: 50%;
            // border-top: 3px solid $text-color;
            // border-bottom: 3px solid $text-color;
            
            
            
           

            
         
        }

        .sidebar__links {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0.925rem;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.25rem;
            letter-spacing: 2px;
            color: $text-color;

            li {
                margin-bottom: 15px;
            }

            a {
                text-decoration: none;
                
                
                &:hover {
                    color: lighten($text-color, 10%);
                }
            }
        }
       
        .sidebar__socials {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            i {
                margin-right: 10px;
                color: darken($primary-color, 10%);
                font-size: 1.75rem;

                &:hover{
                    color: lighten($primary-color, 10%);
            }

            a {
                text-decoration: none;
                color: $text-color;
                font-size: 1rem;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
               
                 }     
            }
        }
    }
}

