// -------- //
// Projects //
// -------- //

/*-------------------------------*/
/*Small Devices Project Container*/
/*-------------------------------*/

.project__container--xs {
   @include respond-to(sm) {
      
   display: flex;
   flex-direction: column;
   width: 100%;
   
   height: auto;
   margin: 0 auto;
   padding: 10px;
   align-items: center;
   justify-content: center;
   gap: 30px;
  
   
         /*Heading*/
         h3 {
         grid-area: project__h3;
         align-self: center;
         justify-self: center;
         margin-top: 60px;
         margin-bottom: 20px;
         font-size: 1.8rem;
         font-weight: 700;
         letter-spacing: 0.1rem;
         color: $text-color;

            span {
               background-color: $primary-color;
               padding: 5px;
               border-radius: 6px;
               box-shadow: 5px 5px 0 darken($primary-color, 10%);
               
            }
         }

         /*Cards*/
         .project__card--1 {
            width: 100%;
            height: 250px;
            @include project-card-xs('../assets/img/netmatters-homepage-screenshot.png', 'center', 'top');
         }   

         .project__card--2 {
            width: 100%;
            height: 250px;
            @include project-card-xs('../assets/img/js-array-screenshot.png', 'center', 'top');
         }
         .project__card--3 {
            width: 100%;
            height: 250px;
            @include project-card-xs('../assets/img/placeholder-design.png');
         }
         .project__card--4 {
            width: 100%;
            height: 250px;
            @include project-card-xs('../assets/img/placeholder-pc.png');
         }
         .project__card--5 {
            width: 100%;
            height: 250px;
            @include project-card-xs('../assets/img/placeholder-cradle.png');
         }
         .project__card--6 {
            width: 100%;
            height: 250px;
            @include project-card-xs('../assets/img/placeholder-work.png');
         }
            
   }
}
  /*Scroll Down Icon*/
  .project__scroll {
   grid-area: project__scroll;
   align-self: center;
   justify-self: center;
   margin-top: 40px;
   margin-bottom: 60px;
   border: none;
   padding: 0;
   background: transparent;
   animation: bounce 3s infinite;
      @keyframes bounce {
         0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
           
         }
         40% {
            transform: translateY(-10px);
            
         }
         60% {
            transform: translateY(-5px);
            
         }
      }

      a {
         text-decoration: none;
         background: transparent;
         
      }

      i {
         font-size: 2rem;
         
         border: none;
         background: transparent;
      }
  }

   /*Hide Small Devices Container at 768px*/  
   @media (min-width: 768px) {
      .project__container--xs {
         display: none;
      }
   }
  

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

  /*--------------------------------*/
  /*Medium Devices Project Container*/
  /*--------------------------------*/

   .project__container--md { 

      /*Hide >768px*/ 
      display: none;

      /*Display at 768px*/
      @include respond-to(md) {
      margin-top: 40px;
      
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
      max-width: 1200px;
      padding: 20px;

         @include respond-to(lg) {
            grid-template-columns: repeat(3, 1fr);
         }
    

         /*Heading*/
         h3 {
            grid-column: 1 / -1;
            align-self: end;
         
            justify-self: start;
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
            color: $text-color;
         
               span {
                  width: fit-content;
                  background-color: $primary-color;
                  padding: 5px;
                  border-radius: 6px;
                  box-shadow: 10px 10px 0 darken($primary-color, 10%);
                  
               }
         }
     

            /*Medium Devices Project Grid Cards*/
            .project__card--1 {             
               @include project-card('../assets/img/netmatters-homepage-screenshot.png', 'center', 'top');
               }
         
            .project__card--2 {             
               @include project-card('../assets/img/js-array-screenshot.png', 'center', 'top');
               }
            
            .project__card--3 {              
               @include project-card('../assets/img/placeholder-design.png');
               }
            
            .project__card--4 {              
               @include project-card('../assets/img/placeholder-pc.png');
               }
            
            .project__card--5 {              
               @include project-card('../assets/img/placeholder-cradle.png');
               }
            
            .project__card--6 {             
               @include project-card('../assets/img/placeholder-work.png');
               }
            
            .project__card--7 {             
               @include project-card('../assets/img/placeholder-closer-coffee.png');
               }
            
            .project__card--8 {              
               @include project-card('../assets/img/placeholder-laptop.png');
               }
            .project__card--9{
               @include respond-to(md) {
                  display: none;
               }
               @include respond-to(lg) {
                  @include project-card('../assets/img/placeholder-abacus.png');
               }
            }   
      }      
   }

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
  
 

