/////////////////
// Base Styles //
/////////////////

//Debug

// * {
//   outline: 1px solid red;
// }




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: auto;
  
  
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 10px;
  background-color: $background-color;
  
  color: $text-color;
  font-family: $base-font-family;
}



