/////////////
// Colours //
/////////////

$primary-color: #355952;
$secondary-color: #EAB63E;
$text-color: #355952;
$secondary-text-color: #E37769;
$background-color: #F9F6E7;
$heading-color: darken($text-color, 10%);
$link-color: lighten($text-color, 10%);