/////////////
// Colours //
/////////////

$primary-color: darken(#879e82, 10%);
$secondary-color: #7d6b57;
$text-color: #0c0d0d;
$secondary-text-color: #E37769;
$background-color: #B7B9A8;
$heading-color: darken($text-color, 10%);
$link-color: lighten($text-color, 10%);