//============//
// Typography //
//============//


// --------- //
// Variables //
// --------- //

$base-font-family: "League Spartan", sans-serif;
$logo-font: "Abril Fatface", serif;
$base-font-size: 16px;
$base-font-weight: 400;

// ---- //
// Base //
// ---- //

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $text-color;

}

// ----- //
// Links //
// ----- //

a {
  text-decoration: none;
}