//============//
// Typography //
//============//

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

@font-face {
  font-family: "Bogart Medium";
  src: url(/assets/typography/bogart__medium.TTF)
}

// --------- //
// Variables //
// --------- //

$base-font-family: Inter, sans-serif;
$logo-font: "Bogart Medium", serif;
$base-font-size: 16px;
$base-font-weight: 400;

// ---- //
// Base //
// ---- //

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $text-color;

}

// ----- //
// Links //
// ----- //

a {
  text-decoration: none;
}